body {
    margin: 0;
    background: #0a0a0a;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

#menu {
    padding: 20px;
}

#personagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    width: 120px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    background: #111;
}

.card img {
    width: 100px;
    image-rendering: pixelated;
}

.card:hover {
    background: #272727;
}

#gameCanvas {
    display: none;
    margin-top: 20px;
    background: #1b1b1b;
}
